.section-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.carousel-paragraphs {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.convention-img {
    height: 584px;
    width: 1440px;
}