.section-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.carousel-paragraphs {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.convention-img {
    height: 584px;
    width: 1440px;
}
.section-paragraph {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.package-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
.package-details {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.rounded-pill {
    color: #3F87F5;
    background-color: #FEF5FA;
}
#special-package {
    border-radius: 20px;
}
.app {
    height: 40.00012969970703px;
    width: 135px;

}